{% extends 'base.html.twig' %}

{% block title %}Nibiru Token Calculator{% endblock %}

{% block body %}

    <!-- TODO: Add a navbar with title, language that change card name, reset button, back to top button ... -->
    <h1 id="title">Nibiru Token Calculator</h1>

    <div id="external-container">
        <img id="nibiru-token-image" src=" {{ asset('images/cards/primal_being_token.jpg') }}" alt="Primal Being Token">

        <div id="stats-container">
            <div id="atk-container">
                <span>ATK</span>
                <span id="atk">0</span>
            </div>

            <div id="def-container">
                <span>DEF</span>
                <span id="def">0</span>
            </div>
        </div>

        <div id="selected-results-container">
            <ul id="selected-results">
            </ul>
        </div>

        {{ component('CardSearch') }}
    </div>
    <script>
        let totalAtk = 0;
        let totalDef = 0;

        function addToSelectedCards(imageURL, name, atk, def) {
            const selectedCards = document.getElementById('selected-results');
            const maxCards = 12;

            if (selectedCards.children.length >= maxCards) {
                alert('Maximum number of cards reached.');
                return;
            }

            const cardContainer = document.createElement('li');
            cardContainer.id = 'selected-card';
            cardContainer.onclick = function () {
                selectedCards.removeChild(cardContainer);
                totalAtk -= parseInt(atk, 10) < 0 ? 0 : parseInt(atk, 10);
                totalDef -= parseInt(def, 10) < 0 ? 0 : parseInt(def, 10);

                document.getElementById('atk').textContent = totalAtk;
                document.getElementById('def').textContent = totalDef;
            };

            const img = document.createElement('img');
            img.id = 'selected-card-img';
            img.src = imageURL;
            img.alt = name;

            cardContainer.appendChild(img);
            selectedCards.appendChild(cardContainer);

            // Update total attack and defense
            totalAtk += parseInt(atk, 10) < 0 ? 0 : parseInt(atk, 10);
            totalDef += parseInt(def, 10) < 0 ? 0 : parseInt(def, 10);

            document.getElementById('atk').textContent = totalAtk;
            document.getElementById('def').textContent = totalDef;
        }

        function checkAndAddSingleCard() {
            const searchResults = document.getElementById('search-results');
            if (searchResults.children.length === 1) {
                const card = searchResults.children[0];
                const img = card.querySelector('img');
                addToSelectedCards(img.src, img.alt, img.getAttribute('data-atk'), img.getAttribute('data-def'));
            }
        }

        const searchResultsObserver = new MutationObserver(checkAndAddSingleCard);
        const config = {childList: true};
        const searchResults = document.getElementById('search-results');
        searchResultsObserver.observe(searchResults, config);

        function resetStats() {
            totalAtk = 0;
            totalDef = 0;
            document.getElementById('atk').textContent = totalAtk;
            document.getElementById('def').textContent = totalDef;
        }

        function resetSearch() {
            document.getElementById('selected-results').innerHTML = '';
            resetStats();
        }
    </script>
{% endblock %}